# Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
*.dbmdl
*.bak
*.log

# Rider
.idea/

# NuGet
*.nupkg
packages/
*.snupkg
.nuget/

# Dotnet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# Docker
**/docker-compose.override.yml
**/Dockerfile.*
**/docker-compose*.yml
**/pgdata/
**/redisdata/
**/db-init/*.sql

# OS Files
.DS_Store
Thumbs.db

# ASP.NET
appsettings*.json.user
secrets.json

# Logs
*.log

# ENV
.env