aq.ural-net.ru {
    root * /usr/share/caddy
    file_server

    handle /api/swagger* {
        reverse_proxy 172.18.0.4:8080/swagger
    }
    
    handle /api/* {
        reverse_proxy 172.18.0.4:8080
    }
    
    handle {
        file_server
    }
}